# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vite

# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/venv/
backend/env/
backend/.env
backend/playable_game/
backend/image_cache.json

/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
